 * {
            font-family: 'Kanit', sans-serif;

        }

        #main {
            background-color: darkgray;
            display: flex;
            flex-direction: column;
        }

        #tribute {
            text-align: center;
        }

        ul {
            text-align: left;
            width: 40%;
            position: relative;
            left: 30%;
        }

        #image {
            max-width: 100%;
            height: auto;
            display: block;
            margin: auto;

        }

        h1 {
            text-align: center;
            margin-top: 60px;
        }

        #img-caption {
            text-align: center;
            font-size: 17px;
            margin-top: auto;
        }

        #img-div {
            background-color: white;
            display: block;
            width: 98%;
            height: auto;
            margin-left: auto;
            margin-right: auto;

        }

        #cap {
            font-size: 17px;
            text-align: center;
        }

        h3 {
            text-align: center;
            margin-top: 50px;
        }

        li {
            margin-bottom: 20px;
        }

        .quote {
            text-align: center;

        }

        .text-content {
            text-align: justify;
        }

        #footer {
            margin: auto;
            text-align: center;
            margin-bottom: 30px;
        }